@model eCommecre.Areas.Admin.Models.CategoryModel
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="create" asp-area="Admin" asp-controller="Category" asp-action="Create"  >
                            <div  asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @if (ViewBag.error != null) { 
                            <input hidden name="error" value="@ViewBag.error"/>
                            }
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                            <label>Tên</label>
                                            <input asp-for="Name" class="form-control">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                            @if (ViewBag.eName != null)
                                            {
                                                <div >
                                                    <span class="text-danger">@ViewBag.eName</span>
                                                </div>
                                                <br />
                                            }
                                        </div>
                                    </div>
                         
                                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                        <button type="button" id="btnCreate" style="width:150px" class="btn btn-primary">Lưu</button>
                                    </div>
                                </div>                
                        </form>
    <!-- /.content -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   <script>

   </script>
}