@model eCommecre.Areas.Admin.Models.UserModel
                        <!-- /.card-header -->
<!-- form start -->
<form id="create" asp-area="Admin" asp-controller="Users" asp-action="UploadFile" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (ViewBag.error != null)
    {
        <input hidden name="error" value="@ViewBag.error" />
    }
    <div class="row">
        <div class="col-12">
            <center>
                <div class="image-upload">
                    <label for="ful"><img id="Img" style=" width:200px;   height:200px;border-radius: 50%;-moz-border-radius: 50%;   -webkit-border-radius: 50%;" src="~/img/bg-img/noimage.jpg" alt="" /></label>
                    <input type="file" accept=".jpeg,.gif,.png,.tiff,.bmp,.jpg" class="custom-file-input" id="ful" asp-for="UrlImg">
                </div>
            </center>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                <label>Tên đăng nhập</label>
                <input asp-for="Id" hidden />
                <input asp-for="UserName" class="form-control">
                <span id="eUserName" asp-validation-for="UserName" class="text-danger"></span>
                @if (ViewBag.eUserName != null)
                {
                    <div>
                        <span class="text-danger">@ViewBag.eUserName</span>
                    </div>
                    <br />
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                <label>Email</label>
                <input asp-for="Email" class="form-control">
                <span id="eEmail" asp-validation-for="Email" class="text-danger"></span>
                @if (ViewBag.eEmail != null)
                {
                    <div>
                        <span class="text-danger">@ViewBag.eEmail</span>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                <label>Mật khẩu</label>
                <input class="form-control" asp-for="PasswordHash">
                <span asp-validation-for="PasswordHash" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                <label>Số điện thoại</label>
                <input asp-for="PhoneNumber" class="form-control">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                <label>Tên</label>
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                <label>Sinh nhật</label>
                <input asp-for="Birthday" class="form-control">
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                <label>Địa chỉ</label>
                <input class="form-control" asp-for="Address">
                <span asp-validation-for="Address" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                <label>Giới tính</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Gender" id="inlineRadio1" value="Nam">
                    <label class="form-check-label" for="inlineRadio1">Nam</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Gender" id="inlineRadio2" value="Nữ">
                    <label class="form-check-label" for="inlineRadio2">Nữ</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Gender" id="inlineRadio3" value="Khác">
                    <label class="form-check-label" for="inlineRadio3">Khác</label>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
        <button type="button" onclick="createOrUpdate()" style="width:150px" class="btn btn-primary">Lưu</button>
    </div>

</form>
<!-- /.content -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

    </script>
}